<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main th:object="${item}" class="poly-item-detail">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body text-center">
					<img th:src="@{|/images/*{image}|}" alt="" srcset="">
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body">
					<ul>
						<li th:text="*{name}"></li>
						<li th:text="*{price}"></li>
						<li th:text="*{createDate}"></li>
						<li th:text="*{category.name}"></li>
					</ul>
				</div>
			
				<div class="panel-footer text-right">
					<button class="btn btn-success">
						<i class="glyphicon glyphicon-shopping-cart"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">HÀNG CÙNG LOẠI</div>
				<div class="pabel-body">
					<ul>
						<li th:each="p:${item.category.products}">
							<a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <h1>[[${item.name}]]</h1>
		<h1>[[${item.category.name}]]</h1>
		<ul>
			<li th:each="p:${item.category.products}">
				<a th:href="@{|/product/detail/${p.id}|}">
					
				</a>
			</li>
		</ul> -->
	</main>
</body>
</html>